* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Verdana, Arial, serif;
    font-size: 15px;
    text-align: center;
    background-color: white;
    word-wrap: break-word;
}

html, body {
    background-color: cornflowerblue;   
}

ul {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;   
}

li {
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px 15px;
    flex-grow: 1;
	list-style: none;
    box-shadow: 0 0 5px -2px #3a444a;
}

li:hover {
	box-shadow: 0 0 10px -1px #51a1f0; 
}

button {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 10px 15px;
    border: 1px solid black;
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

.correct {
    box-shadow: 0 0 10px -1px #00ff88;  
}

.wrong {
    box-shadow: 0 0 10px -1px #ff0000;  
}

#question {
    margin: auto;
    margin-top: 100px;;
    max-width: 920px;
    padding: 10px;
}

p {
    margin: 20px;
    padding: 10px 15px;
}